<div class="container">
  Cosmetic Amount: <%= @cosmetics.count %> <br />
  Gift Certificates Amount: <%= @gift_certificates.count %> <br />
  Brands Amount: <%= @brands.count %> <br />
  Orders Amount: <%= @orders.count %> <br />
</div>
