<ul class="nav">
  <li class="nav-selected nav-path-selected"><a class="nav-selected nav-path-selected"  href="/pages/special-eye-treatments/">Special Eye Treatments</a></li>
  <li><a href="/pages/make-up/"  >Make-up</a></li>
  <li><a href="/pages/facial-treatments/"  >Facial Treatments</a></li>
  <li><a href="/pages/special-treatments/"  >Special Treatments</a></li>
  <li><a href="/pages/body-treatments/"  >Body Treatments</a></li>
  <li><a href="/pages/hair-treatments/"  >Hair Removal</a></li>
  <li><a href="/pages/makeup-courses/"  >Makeup Courses</a></li>
</ul>
