<div id="body">
			<h1>Pamper and beautify yourself with our services</h1><div class="content">
<h2>Body Treatments</h2>
<div class="item">
<div class="itemheader"><span class="name">Swedish Style (瑞典式按摩)</span> <span class="price">~60 (60 mins)</span></div>
<div class="itemdescription">
<p class="desc">This widely popular technique uses firm but gentle pressure that benefits your circulation, relaxes muscles to ease tension and aches, and is overall very relaxing.</p>
</div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Deep Tissue (深層穴位按摩)</span> <span class="price">~70 (60 mins) </span></div>
<div class="itemdescription">
<p class="desc">The deep tissue body work is really great for men and women who suffer from chronic tension in areas like the neck, shoulders, and lower back. &nbsp;By realigning deeper layers of the body's muscles, you can free yourself from stiff necks and soreness or tightness in the lower back and shoulders.</p>
</div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Foot Reflexology (足部舒緩按摩)</span> <span class="price">~30/~50 (30/60 mins)</span></div>
<div class="itemdescription">
<p class="desc">We gently massage you with specialized detoxification creams to help you feel slimmer and lighter, freeing up blockages and loosening up internal residues.  This treatment is great for treating constipation and digestive tract discomfort.</p>
</div>
</div>
<div class="item">
<div class="itemheader"><span class="name">RF Cellulite Treatment (冰點溶脂排毒減肥)</span> <span class="price">~98 (60 mins)</span></div>
<div class="itemdescription">
<p class="desc">This treatment produces a slimming effect and is great for reducing slackness and wrinkles.&nbsp; RF heat is treated by body cells as an energy source. Since fat cells are more resistant to high frequency (HF) electrical current than other skin cells, they heat up more quickly. This heating effect accelerates fat metabolism and causes fat cells to shrink. The rise in temperature forces fat cells to secrete fatty acids (liquid fat), which is disposed of via the blood and lymph system, the same way that the body disposes of alcoholic beverages, etc. This results in fat and circumference reduction and improved cellulite appearance.</p>
</div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Lymphatic Drainage Spacesuit (淋巴排毒太空衣)</span> <span class="price">~30 (45 mins)</span></div>
<div class="itemdescription">
<p class="desc">Slip into this specialized suit treatment and relax as the suit's technology slims, shapes, and tones your body!  It even reduces unsightly cellulite.</p>
</div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Detox Treatment (淋巴排毒特療)</span> <span class="price">~48 (30 mins)</span></div>
<div class="itemdescription">
<p class="desc">We gently massage you with specialized detoxification creams to help you feel slimmer and lighter, freeing up blockages and loosening up internal residues.  This treatment is great for treating constipation and digestive tract discomfort.</p>
</div>
</div>
</div>	<div id="blockStyle136Main20" class="servicenav ccm-block-styles" >
<ul class="nav"><li><a href="/services/special-eye-treatments/"  >Special Eye Treatments</a></li><li><a href="/services/make-up/"  >Make-up</a></li><li><a href="/services/facial-treatments/"  >Facial Treatments</a></li><li><a href="/services/special-treatments/"  >Special Treatments</a></li><li class="nav-selected nav-path-selected"><a class="nav-selected nav-path-selected"  href="/services/body-treatments/">Body Treatments</a></li><li><a href="/services/hair-treatments/"  >Hair Removal</a></li><li><a href="/services/makeup-courses/"  >Makeup Courses</a></li></ul></div>		</div>
