<div id="body">
  <h1>Pamper and beautify yourself with our services</h1><div class="content">
    <h2>Facial Treatments</h2>
    <div class="item special">
      <div class="itemheader"><span class="name">Photo Facial Treatment (彩光嫩膚)</span> <span class="price">~150 (30 mins)</span></div>
      <div class="itemdescription">
        <p class="desc">This premium treatment is a specialty here!  Using our state-of-the-art photo facial machine, our specialists help you erase years off of your age.  We reduce signs of aging by reducing wrinkles and treating age spots and broken capillaries.  This light-based facial treatment also stimulates your body to naturally regenerate collagen, tightening your pores and even smoothing out your laugh lines (nasolabial crease). Don't worry, your secret is safe with us!</p>
      </div>
    </div>
    <div class="item">
      <div class="itemheader"><span class="name">Express Revival (基本護理)</span> <span class="price">~30 (30 mins)</span></div>
      <div class="itemdescription">
        <p class="desc">Perfect for relieving your stress and refreshing your skin during your lunch hour!</p>
      </div>
    </div>
    <div class="item">
      <div class="itemheader"><span class="name">Hydrating Facial Treatment (補水護理)</span> <span class="price">~45 (60 mins)</span></div>
      <div class="itemdescription">
        <p class="desc">Your skin needs moisture to stay looking young and supple. Using natural plant extracts and ultrasound technology, we energize your skin and give it immediate hydration with long-term benefits as well. &nbsp;This is the just the treatment to return a healthful suppleness to your skin, and especially beneficial to anyone with rough, dry skin.</p>
      </div>
    </div>
    <div class="item">
      <div class="itemheader"><span class="name">Special Serum Treatment(特效精華素)</span> <span class="price">~48 (70 mins)</span></div>
      <div class="itemdescription">
        <p class="desc">A customized facial treatment, our trained beauticians identify the unique needs of your type of skin and improve skin condition.</p>
      </div>
    </div>
    <div class="item">
      <div class="itemheader"><span class="name">Enzyme Exfoliation (酵素去角質療程)</span> <span class="price">~50 (70 mins)</span></div>
      <div class="itemdescription">
        <p class="desc">Using the latest dermatological techniques, we safely even out your skin's tone and pigmentation.</p>
      </div>
    </div>
    <div class="item">
      <div class="itemheader"><span class="name">Deep Cleansing Facial (深層清潔)</span> <span class="price">~50 (70 mins)</span></div>
      <div class="itemdescription">
        <p class="desc">This treatment purifies your skin using a special exfoliation process, designed to soothe the skin and to decongest the skin, leaving you with resplendent skin that looks vibrant.</p>
      </div>
    </div>
    <div class="item">
      <div class="itemheader"><span class="name">Crystal Refreshing Treatment (水晶滲透護理)</span> <span class="price">~58 (80 mins)</span></div>
      <div class="itemdescription">
        <p class="desc">Customized to your unique skin type, this is an extra strength rehydration treatment that restores natural moisture to your skin in order to bring out a beautiful radiance in your face!</p>
      </div>
    </div>
    <div class="item">
      <div class="itemheader"><span class="name">AHA Acne Treatment (果酸抗痘鎮淨護理) </span> <span class="price">~60 (80 mins)</span></div>
      <div class="itemdescription">
        <p class="desc">Using an AHA solution, you'll see a vast improvement in your complexion.&nbsp; The solution works deep under the surface skin and dissolves acne-causing oils.&nbsp; With only one treatment, you can quickly get rid of acne and emerge with a clearer face!</p>
      </div>
    </div>
    <div class="item">
      <div class="itemheader"><span class="name">Microdermabrasion (鑽石磨皮)</span> <span class="price">~68 (80 mins)</span></div>
      <div class="itemdescription">
        <p class="desc">To safely exfoliate and resurface the skin, our trained specialists use precision-controlled diamond tips to scrub off top layers of dead skin cells in order to bring healthy skin tissue to the surface. This treatment is great for oily skin with clogged pores, acne scarring, and dull complexion with discoloration.</p>
      </div>
    </div>
    <div class="item">
      <div class="itemheader"><span class="name">Nano-Activated Cell Treatment (納米激活細胞療程)</span> <span class="price">~68 (80 mins)</span></div>
      <div class="itemdescription">
        <p class="desc">We use the latest nanotechnology to safely penetrate to the skin tissue's fiber cells to effectively make the skin clear and smooth like a baby's!</p>
      </div>
    </div>
    <div class="item">
      <div class="itemheader"><span class="name">Power Peel Treatment</span> <span class="price">~78 (80 mins)</span></div>
      <div class="itemdescription">
        <p class="desc">An exfoliating treatment without abrasion or down time that reveals fresh, refined skin and removes surface skin cells to reduce fine lines, minimize pore size and even out skin tone. Tone are followed by either a Lactic Acid or Glycolic professional-grade peel to loosen the top layer of the dermis, promote cell renewal and prevent plugged pores. Perfect for acne-prone or oily skin types.</p>
      </div>
    </div>
    <div class="item">
      <div class="itemheader"><span class="name">Collagen Treatment (骨膠原人皮精華素) </span><span class="price">~78 (90 mins)</span></div>
      <div class="itemdescription">
        <p class="desc">Collagen is miraculous, holding anti-aging and anti-wrinkle properties. Collagen and elastin are elastic fibers of the skin that are produced by fibroblasts. As they are heated, they contract and collagen strands are pulled closer resulting in immediately tightened skin. The deep heating effect in turn accelerates the fat cell metabolism to augment collagen regeneration over the full treatment course. This results in immediate tighter, younger looking skin plus long-term skin rebuilding.</p>
      </div>
    </div>
    <div class="item">
      <div class="itemheader"><span class="name">Botox Treatment (肉毒杆菌療程)</span> <span class="price">~88 (90 mins)</span></div>
      <div class="itemdescription">
        <p class="desc">Inspired by the latest rejuvenation injectable techniques, this non&ndash;invasive treatment is based  on the most recent cosmeceutical innovations to dramatically minimize expression lines and qrinkles and rehabilitate the skin. Gain the benefits of tighter, younger skin, without invasive needle injections!</p>
      </div>
    </div>
    <div class="item">
      <div class="itemheader"><span class="name">RF Skin Tightening Treatment (冰點電波拉皮)</span> <span class="price">~98 (90 mins)</span></div>
      <div class="itemdescription">
        <p class="desc">Radio Frequency (RF) technology is energy penetration to the skin without damaging healthy tissues. Treatment of both superficial and deeper fat layers, shrinks the fat cells, contracts collagen fibers and augments collagen regeneration. The dual benefits are both immediate and long-lasting for skin tightening and circumference reduction. Targeted facial treatment regenerates collagen fibers in the dermis layer.</p>
      </div>
    </div>
  </div>	<div id="blockStyle136Main20" class="servicenav ccm-block-styles" >
<%= render "pages/services"%> 
</div>
</div>	
