<div id="body">
  <div class="content">
    <h1>Generic gift cards are out. Customized gift certificates to spas are in.</h1>
    <p>We offer a wide variety of festive and celebratory gift certificates at i Beauty Spa NYC. &nbsp;Whether it's a birthday, wedding, Mother's Day, or even a simple show of your appreciation to someone special, we have specially designed gift certificates for you. &nbsp;You can choose to print your name and the recipient's name. &nbsp;Or if you have a special request, we can whip up a completely new design for you for a nominal fee! &nbsp;(For special requests, please give us at least two week's notice)</p>
</div>
