<div id="body">
			<h1>Pamper and beautify yourself with our services</h1><div class="content">
<h2>Hair Removal Treatments (Wax or Laser)</h2>
<p>We can safely remove unwanted and unsightly hair using wax or laser treatments.<strong> Prices are listed in <em>wax/laser</em> format.</strong></p>
<div class="item special">
<div class="itemheader"><span class="name">Laser Hair Removal Special</span></div>
<div class="itemdescription">
<p class="desc">Keep yourself beautifully smooth! &nbsp;Get any six laser hair removal treatments and get another hair removal for free!</p>
</div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Eyebrow (眉毛)</span> <span class="price">~7</span></div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Forehead (前額)</span> <span class="price">~10 / ~40</span></div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Chin/Lip (下巴/唇)</span> <span class="price">~5 / ~35</span></div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Whole Face (全面)</span> <span class="price">~30 / ~150</span></div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Underarms (腋窩)</span> <span class="price">~15 / ~50</span></div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Half Arms (半手臂)</span> <span class="price">~22 / ~100</span></div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Full Arms (全手臂)</span> <span class="price">~38 / ~165</span></div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Half Legs (半腿)</span> <span class="price">~30 / ~120</span></div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Full Legs (全腿)</span> <span class="price">~50 / ~220</span></div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Bikini (比堅尼)</span> <span class="price">~20 / ~65</span></div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Brazilian (全比堅尼)</span> <span class="price">~50 / ~90</span></div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Chest (胸部)</span> <span class="price">~25 / ~90</span></div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Back (背)</span> <span class="price">~40 / ~150</span></div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Shoulder (肩)</span> <span class="price">~20 / ~75</span></div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Stomach (腹)</span> <span class="price">~20 / ~75</span></div>
</div>
</div>	<div id="blockStyle136Main20" class="servicenav ccm-block-styles" >
<ul class="nav"><li><a href="/services/special-eye-treatments/"  >Special Eye Treatments</a></li><li><a href="/services/make-up/"  >Make-up</a></li><li><a href="/services/facial-treatments/"  >Facial Treatments</a></li><li><a href="/services/special-treatments/"  >Special Treatments</a></li><li><a href="/services/body-treatments/"  >Body Treatments</a></li><li class="nav-selected nav-path-selected"><a class="nav-selected nav-path-selected"  href="/services/hair-treatments/">Hair Removal</a></li><li><a href="/services/makeup-courses/"  >Makeup Courses</a></li></ul></div>		</div>
