
<%= content_for :scripts do%> 
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<% end %>

  <div id="body">
  <div class="content">
    <h1>Convenient relaxation and revitalization in Chinatown</h1>
    <p>i Beauty Spa is located at 246 Grand Street in Chinatown, in between Bowery and Chrystie Street.&nbsp; We're just around the corner from the B and D trains (just get off at the Grand Street station), making getting here a snap!  No need to trudge half a mile from the subway, no need to take expensive cabs!&nbsp; We're just a stone's throw away off the Williamsburg Bridge, and we're also just a few short blocks away from Little Italy.</p>
    <p>If you would like to make an appointment, please go ahead and call us at (212) 625-8881!</p>
    <h2 style="text-align: center;">Hours</h2>
    <p style="text-align: center;"><strong>Monday through Saturday</strong><br />11:00 AM - 8:00 PM</p>
    <p style="text-align: center;"><strong>Sunday</strong><br /> 11:00 AM - 7:00 PM</p>
    <p><a href="http://g.co/maps/qbw2w"><img src="http://ibeautyspanyc.com/files/9313/1744/8806/ibeautyspa-map.png" alt="" width="600" /></a></p>
    </div>
    <style type="text/css">
      .googleMapCanvas{ width:100%; border:0px none; height: 400px;}
  </style>
  <script type="text/javascript"> 
function googleMapInit270() { 
  try{
    var latlng = new google.maps.LatLng(40.7183656, -73.994164);
    var mapOptions = {
      zoom: 17,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      streetViewControl: false,
      mapTypeControl: false
    };
    var map = new google.maps.Map(document.getElementById('googleMapCanvas270'), mapOptions);
    var marker = new google.maps.Marker({position: latlng, map: map});
}catch(e){alert(e.message)} 
}

</script>

  <div id="googleMapCanvas270" class="googleMapCanvas"></div>


  <script type="text/javascript">
    $(document).ready(function() {
        googleMapInit270();
    });
  </script>

</div>
