<div id="body">
  <h1>Pamper and beautify yourself with our services</h1><div class="content">
    <h2>Makeup</h2>
    <div class="item">
      <div class="itemheader"><span class="name">Daytime Makeup(清淡日粧) (ディリー&bull;メイクアップ)</span> <span class="price">~15</span></div>
    </div>
    <div class="item">
      <div class="itemheader"><span class="name">Evening Makeup (宴會晚粧) (ナイト&bull;メイクアップ)</span> <span class="price">~25</span></div>
    </div>
    <div class="item">
      <div class="itemheader"><span class="name">Bridesmaid Makeup (伴娘化粧) <span style="font-size: small;">(ウエディング&bull;メイクアップ)</span> </span> <span class="price">~30</span></div>
    </div>
    <div class="item">
      <div class="itemheader"><span class="name">Bridal Makeup (專業新娘化粧) <br /> <span style="font-size: small;">(プロフェッショナル&bull;ウエディング&bull;アップ)</span> </span> <span class="price">~50</span></div>
    </div>
  </div>	<div id="blockStyle136Main20" class="servicenav ccm-block-styles" >
  <%= render "pages/services"%> 
  </div>
</div>	
