<div id="body">
			<h1>Learn how to become a professional beautician</h1><div class="content">
<h2>Makeup Courses</h2>
<div class="item">
<div class="itemheader"><span class="name">個人化妝班 (4堂)</span> <span class="price">$120</span></div>
</div>
<div class="item">
<div class="itemheader"><span class="name">基本專業美容師訓練課程 (24堂) </span> <span class="price">$720</span></div>
</div>
<div class="item">
<div class="itemheader"><span class="name">高級專業美容師全科訓練課程 (40堂)</span> <span class="price">$1200</span></div>
</div>
以上課程, 免費供應堂上實習用品, 個別教授,  時間任選,成績優異者可留店工作。</div>	<div id="blockStyle136Main20" class="servicenav ccm-block-styles" >
<%= render "pages/services"%> 
</div>
</div>
