<div id="body">
  <h1>Your lovely little Grand Street getaway</h1>	<div id="blockStyle183Main27" class="customgallery ccm-block-styles" >


    <style type="text/css" media="all">

.AmiantImageGalleryBlock183{
  position: relative;
  margin: 0 auto;
}

.AmiantImageGallery183{
  width: 550px;
  height: 445px;
  text-align: center;
}

.AmiantImageGalleryThumbnailContainerWrapper183 {
  width: 0px;
  height: 0px;
  float: left;
  margin: 10px;
  position: relative;
}

.AmiantImageGalleryThumbnailContainer183 {
  width: 100%;
  height: 0px;
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 5px;
  position: relative;
}

.AmiantImageGalleryThumbnailContainer183:hover {
  background-color: #DDDDDD;
  border: 1px solid #BBBBBB;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  /*opacity: 0.7;*/
}

.AmiantImageGalleryThumbnailContainerLoading183 {
  background-image: url('ajax-loader.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

.AmiantImageGalleryThumbnailContainerError183 {
  background-image: url('images/error.png');
  background-position: center center;
  background-repeat: no-repeat;
}

.AmiantImageGalleryThumbnail183 {
  margin: 0 auto;
  position: relative;
  top: 50%;
}

.AmiantImageGalleryThumbnailContainer183 .AmiantImageGalleryThumbnailLink {
  border: none;
  text-decoration: none;
}

.AmiantImageGalleryBlockControlBar183 {
  height: 30px;
  background: #EEEEEE;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: 3px;
  clear: both;
}

.AmiantImageGalleryBlockFileInfo {
  width: 100%;
  border-top: 1px dotted #CCCCCC;
  margin-top: 10px;
  padding: 5px;
  text-align: left;
}

.AmiantImageGalleryBlockFileInfoNoCaption {
  width: 100%;
  padding: 5px;
  text-align: left;
}

.AmiantImageGalleryBlockPopup {
  position: absolute;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
  border-spacing: 0px;
  display: none; /* keeps the popup hidden if no JS available */
}

.AmiantImageGalleryBlockPopup td.top_left {
  width: 15px;
  height: 20px;
  background: url('/packages/amiant_image_gallery/blocks/amiant_gallery/images/popup_bubble_top_left_corner_arrow.png') bottom right no-repeat;
}

.AmiantImageGalleryBlockPopup td.top_left_small {
  width: 50px;
  height: 20px;
  background: url('/packages/amiant_image_gallery/blocks/amiant_gallery/images/popup_bubble_top.png') bottom right repeat-x;
}

.AmiantImageGalleryBlockPopup td.top_right {
  width: 17px;
  height: 20px;
  background: url('/packages/amiant_image_gallery/blocks/amiant_gallery/images/popup_bubble_top_right_corner.png') bottom left no-repeat;
}

.AmiantImageGalleryBlockPopup td.top_center {
  width: 26px;
  height: 20px;
  background: url('/packages/amiant_image_gallery/blocks/amiant_gallery/images/popup_bubble_top_arrow.png') bottom left no-repeat;
}

.AmiantImageGalleryBlockPopup td.top {
  height: 20px;
  background: url('/packages/amiant_image_gallery/blocks/amiant_gallery/images/popup_bubble_top.png') bottom left repeat-x;
}

.AmiantImageGalleryBlockPopup td.left {
  width: 15px;
  background: url('/packages/amiant_image_gallery/blocks/amiant_gallery/images/popup_bubble_left.png') top right repeat-y;
}

.AmiantImageGalleryBlockPopup td.right {
  width: 17px;
  background: url('/packages/amiant_image_gallery/blocks/amiant_gallery/images/popup_bubble_right.png') repeat-y;
}

.AmiantImageGalleryBlockPopup td.center {
  padding: 0px;
  background: #FFFFFF;
  text-align: center;
  font-weight: normal;
  font-size: 10px;
  color: #333333;
}

.AmiantImageGalleryBlockPopup td.bottom_left {
  width: 15px;
  height: 17px;
  background: url('/packages/amiant_image_gallery/blocks/amiant_gallery/images/popup_bubble_bottom_left_corner.png') top right no-repeat;
}

.AmiantImageGalleryBlockPopup td.bottom_right {
  width: 17px;
  height: 17px;
  background: url('/packages/amiant_image_gallery/blocks/amiant_gallery/images/popup_bubble_bottom_right_corner.png') no-repeat; 
}

.AmiantImageGalleryBlockPopup td.bottom {
  height: 17px;
  background: url('/packages/amiant_image_gallery/blocks/amiant_gallery/images/popup_bubble_bottom.png') repeat-x;
}

#AmiantImageGallerySlidesWrapper183 {
  width: 550px;
  height: 420px;
  text-align: center;
}

.AmiantImageGallerySlidesWrapper183 {

}

.AmiantImageGallerySlide183 {
  width: 550px;
  height: 420px;
  text-align: center;
}

.AmiantImageGallerySlideInfo183 {
  width: 100%;
  background: black;
  opacity: 0.7;
  position: absolute;
  z-index: 1500;
  bottom: 0px;
  color: #FFFFFF;
  text-align: left;
  padding: 10px;
}

.AmiantImageGallerySlideControllsWrapper183 {
  float: right;
}

.AmiantImageGallerySlideControllPrev183 {
  font-weight: bold;
  color: green;
  cursor: pointer;
}

.AmiantImageGallerySlideControllNext183 {
  font-weight: bold;
  color: green;
  cursor: pointer;
}

#AmiantImageGalleryImagesLoadingWaiter183 {
  display: block;
  width: 16px;
  height: 16px;
  padding: 0px;
  margin-left: 10px;
  float: left;
}

.ig_pagination {clear: both; padding: 5px;}
.ig_pagination_controls {float: right;}

.ig_pageLeft {}
.ig_pageRight {}
.ig_pager {}

#zoom-mode-image-title {
  padding: 10px;
}

    </style>

    <script type="text/javascript">


var imgCount183 = 0;

function AmiantImageGalleryBlockLoadImage183(source, css_class, margintop, title, alt, objectLoader, objectForInjection) {
  var img = new Image();
  $(img).load(function () {
      $(this).css('display', 'none'); // .hide() doesn't work in Safari when the element isn't on the DOM already
      $(this).hide();
      $('#'+objectLoader).removeClass('AmiantImageGalleryThumbnailContainerLoading183');
      $('#'+objectForInjection).append(this);
      $(this).fadeIn(500);
      }).error(function () {
        $('#'+objectLoader).removeClass('AmiantImageGalleryThumbnailContainerLoading183');
        $('#'+objectLoader).addClass('AmiantImageGalleryThumbnailContainerError183');
        }).attr('src', source).attr('class', css_class).attr('alt', alt).css('margin-top', parseInt(margintop)).addClass('AmiantImageGalleryBlockPopupTrigger');    }

function AmiantImageGalleryBlockCalculateImagesCount183() {
  $("#AmiantImageGallerySlidesWrapper183 .AmiantImageGallerySlide183").each(function() {
      imgCount183++;
      });
}

function AmiantImageGalleryBlockCountLoadedImages183() {
  var imgLoadedCount = 0;

  $("#AmiantImageGallerySlidesWrapper183 .AmiantImageGallerySlide183").each(function() {
      if (!$(this).attr('imgsrc')) {
      imgLoadedCount++;
      }
      });

  $("#AmiantImageGalleryImagesLoaded183").text("Loaded "+imgLoadedCount+" of "+imgCount183);
}

function AmiantImageGalleryBlockStartSlideshow183(slideID) {

  $("#AmiantImageGallerySlidesWrapper183").cycle({
fx: "fade",
cleartypeNoBg: true,
speed:  "1000",
timeout: 5000,
pause: 0,
nowrap: 0,
startingSlide: slideID,
next:   '#AmiantImageGallerySlideControllNext183', 
prev:   '#AmiantImageGallerySlideControllPrev183',
before: beforeSlide183,
after: afterSlide183,
end: endSlideshow183		});
}

function AmiantImageGalleryBlockLoadFullImage183(slideDiv) {
  if ($(slideDiv).attr('imgsrc')) {
    var imgsrc = $(slideDiv).attr('imgsrc');
    var image = new Image();

    $(slideDiv).addClass('AmiantImageGalleryThumbnailContainerLoading183');
    $("#AmiantImageGalleryImagesLoadingWaiter183").show();

    $(image).load(function () {
        $(this).css('display', 'none'); // .hide() doesn't work in Safari when the element isn't on the DOM already
        $(this).hide();
        $(slideDiv).removeClass('AmiantImageGalleryThumbnailContainerLoading183');
        $(slideDiv).append(this);
        $(this).fadeIn(500);
        $("#AmiantImageGalleryImagesLoadingWaiter183").hide();


        }).error(function () {
          $(slideDiv).removeClass('AmiantImageGalleryThumbnailContainerLoading183');
          $(slideDiv).addClass('AmiantImageGalleryThumbnailContainerError183');
          }).attr('src', imgsrc).css('cursor', 'pointer').css('position', 'relative').click(function () {
            $("#AmiantImageGallerySlidesWrapper183").cycle('next');
            });

    $(slideDiv).removeAttr('imgsrc');
  }

  AmiantImageGalleryBlockCountLoadedImages183();
}

function beforeSlide183(curr, next, opts, forwardFlag) {

}

function afterSlide183(curr, next, opts, forwardFlag) {

  AmiantImageGalleryBlockLoadFullImage183(next);

  if (forwardFlag) {
    AmiantImageGalleryBlockLoadFullImage183($(next).next(".AmiantImageGallerySlide183"));
  } else {
    AmiantImageGalleryBlockLoadFullImage183($(next).prev(".AmiantImageGallerySlide183"));
  }

  $("#AmiantImageGalleryImageIndex183").text("Image "+$(next).attr('slideindex')+" of "+imgCount183);

}

function endSlideshow183(options) {

}




    </script>


    <div class="AmiantImageGalleryBlock183 AmiantImageGallery183">



      <div class="AmiantImageGalleryBlockControlBar183">
        <div class="AmiantImageGallerySlideControllsWrapper183" style="clear: both;">
          <span id="AmiantImageGalleryImagesLoadingWaiter183"><img src="/assets/ajax-loader-small.gif" width="16" height="16" alt="" /></span>
          <span id="AmiantImageGalleryImagesLoaded183" style="display: none;">Loaded ?</span>
          <span id="AmiantImageGalleryImageIndex183">Image X of Y</span> |
          <span id="AmiantImageGallerySlideControllPrev183" class="AmiantImageGallerySlideControllPrev183">&laquo; Previous</span>
          |
          <span id="AmiantImageGallerySlideControllNext183" class="AmiantImageGallerySlideControllNext183">Next &raquo;</span>
        </div>
      </div>
      <div id="AmiantImageGallerySlidesWrapper183" class="AmiantImageGallerySlidesWrapper183">
        <div class="AmiantImageGallerySlide183" imgsrc="/assets/detail1.jpg" slideIndex="1"></div>
        <div class="AmiantImageGallerySlide183" imgsrc="/assets/detail2.jpg" slideIndex="2"></div>
        <div class="AmiantImageGallerySlide183" imgsrc="/assets/detail5.jpg" slideIndex="3"></div>
        <div class="AmiantImageGallerySlide183" imgsrc="/assets/detail6.jpg" slideIndex="4"></div>
        <div class="AmiantImageGallerySlide183" imgsrc="/assets/detail7.jpg" slideIndex="5"></div>
        <div class="AmiantImageGallerySlide183" imgsrc="/assets/detail8.jpg" slideIndex="6"></div>
        <div class="AmiantImageGallerySlide183" imgsrc="/assets/detail9.jpg" slideIndex="7"></div>
        <div class="AmiantImageGallerySlide183" imgsrc="/assets/detail10.jpg" slideIndex="8"></div>
        <div class="AmiantImageGallerySlide183" imgsrc="/assets/detail11.jpg" slideIndex="9"></div>
        <div class="AmiantImageGallerySlide183" imgsrc="/assets/detail12.jpg" slideIndex="10"></div>
        <div class="AmiantImageGallerySlide183" imgsrc="/assets/detail13.jpg" slideIndex="11"></div>
        <div class="AmiantImageGallerySlide183" imgsrc="/assets/detail14.jpg" slideIndex="12"></div>
        <div class="AmiantImageGallerySlide183" imgsrc="/assets/detail15.jpg" slideIndex="13"></div>
    </div>
      <script type="text/javascript">
$(function () {
    AmiantImageGalleryBlockCalculateImagesCount183();
    AmiantImageGalleryBlockStartSlideshow183(0);
    });
      </script>


    </div>

    <div style="height: 10px; clear: both;"></div>

</div>
</div>	

