<div id="body">
  <div class="content">
    <h1>Who doesn't like to save a bit of money?</h1>
    <p>We love our customers, and we're always looking for ways to help them be more relaxed and more beautiful for less!&nbsp; Here are our current promotions at i Beauty Spa.</p>
    <div class="content">
      <h2>Special Value Package Deals</h2>
      <div class="item special">
        <div class="itemheader"><span class="name">Package A</span><span class="price">~75 (<em>original price ~90</em>)</span></div>
        <div class="itemdescription">
          <p class="desc">60 minute Swedish Massage + 30 minute Express Facial!</p>
        </div>
      </div>
      <div class="item special">
        <div class="itemheader"><span class="name">Package B</span><span class="price">~75 (<em>original price ~88</em>)</span></div>
        <div class="itemdescription">
          <p class="desc">60 minute Swedish Massage + Ear Candling.</p>
        </div>
      </div>
      <div class="item special">
        <div class="itemheader"><span class="name">Package C</span><span class="price">~98 (<em>original price ~110</em>)</span></div>
        <div class="itemdescription">
          <p class="desc">60 minute Swedish Massage + 60 minute Deep Cleansing Facial</p>
        </div>
      </div>
      <div class="item special">
        <div class="itemheader"><span class="name">Laser Hair Removal Special</span></div>
        <div class="itemdescription">
          <p class="desc">Keep yourself beautifully smooth! &nbsp;Get any six laser hair removal treatments and get another hair removal for free! (彩光永久脫毛買6次送1次)</p>
        </div>
      </div>
    </div>
  </div>
</div>
