	<div id="body">
			<div class="content">
<h1>Specialized services, just for you</h1>
<p>Our specially trained staff at i Beauty Spa NYC will make sure that your visit is completely stress-free and relaxing.  We do everything we can to reach that special state of serenity.  Here are all of the services that we offer to you, so that you can leave here feeling sparkling and shining bright, both inside and out.</p>
</div>	<div id="blockStyle137Main21" class="servicenav ccm-block-styles" >
<ul class="nav"><li><a href="/services/special-eye-treatments/"  >Special Eye Treatments</a></li><li><a href="/services/make-up/"  >Make-up</a></li><li><a href="/services/facial-treatments/"  >Facial Treatments</a></li><li><a href="/services/special-treatments/"  >Special Treatments</a></li><li><a href="/services/body-treatments/"  >Body Treatments</a></li><li><a href="/services/hair-treatments/"  >Hair Removal</a></li><li><a href="/services/makeup-courses/"  >Makeup Courses</a></li></ul></div>		</div>

