<div id="body">
			<h1>Pamper and beautify yourself with our services</h1><div class="content">
<h2>Special Treatments</h2>
<div class="item special">
<div class="itemheader"><span class="name">Photo Rejuvenation (彩光嫩膚)</span> <span class="price">~150 (30 mins)</span></div>
<div class="itemdescription">
<p class="desc">This premium treatment is a specialty here!  Using our state-of-the-art photo facial rejuvenation machine, our specialists help you erase years off of your age.  We reduce signs of aging by reducing wrinkles and treating age spots and broken capillaries.  This light-based facial treatment also stimulates your body to naturally regenerate collagen, tightening your pores and even smoothing out your laugh lines (nasolabial crease).&nbsp; Don't worry, your secret is safe with us!</p>
</div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Mole Removal (脫痣/去肉粒)</span> <span class="price">~5 and up</span></div>
<div class="itemdescription">
<p class="desc">We use the latest technology to remove moles that distract people from your natural beauty!</p>
</div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Relaxing Ear Candle (舒壓耳燭)</span> <span class="price">~28 (30 mins)</span></div>
<div class="itemdescription">
<p class="desc">Ear candling can effectively reduce earache, ear itching, headache, migraine, stress and nervous tension, particularly suitable for people with ear water imbalance, tinnitus, sinusitis, hay fever, colds and insomnia to use.</p>
</div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Hand Softening Treatment (柔嫩纖手護理)</span> <span class="price">~25 (30 mins)<br /></span></div>
<div class="itemdescription">
<p class="desc">Your hands are always bumping and crashing into things every day.  Why not pamper them and soften them up?  After all, you never know that special someone might take your hand and gasp in awe at how soft and supple your hand is!</p>
</div>
</div>
<div class="item">
<div class="itemheader"><span class="name">RF Neck Treatment (頸部電波拉皮)</span> <span class="price">~35 (30 mins)</span></div>
<div class="itemdescription">
<p class="desc">The skin around the neck is notoriously uncooperative and unflattering, but this Radio Frequency treatment reverses the effects of time and gravity, tightening your skin to give you added confidence right where you need it.</p>
</div>
</div>
<div class="item">
<div class="itemheader"><span class="name">Back Treatment (背部美化護理)</span> <span class="price">~45 (45 mins)</span></div>
<div class="itemdescription">
<p class="desc">This treatment for your back is an absolute delight for one of the most forgotten and neglected parts of your body (especially since it's so hard to reach!).&nbsp; We restore the natural suppleness to your back, leaving the skin smoother and more beautiful by cleaning and closing the pores.</p>
</div>
</div>
</div>	<div id="blockStyle136Main20" class="servicenav ccm-block-styles" >
<ul class="nav"><li><a href="/services/special-eye-treatments/"  >Special Eye Treatments</a></li><li><a href="/services/make-up/"  >Make-up</a></li><li><a href="/services/facial-treatments/"  >Facial Treatments</a></li><li class="nav-selected nav-path-selected"><a class="nav-selected nav-path-selected"  href="/services/special-treatments/">Special Treatments</a></li><li><a href="/services/body-treatments/"  >Body Treatments</a></li><li><a href="/services/hair-treatments/"  >Hair Removal</a></li><li><a href="/services/makeup-courses/"  >Makeup Courses</a></li></ul></div>		</div>
