<div id="body">
  <h1>Pamper and beautify yourself with our services</h1><div class="content">
    <h2>Special Eye Treatments</h2>
    <div class="item">
      <div class="itemheader"><span class="name">Eyebrow Tinting (染眉毛)</span> <span class="price">~15</span></div>
      <div class="itemdescription">
        <p class="desc">Darkening your eyebrows adds a little drama to beautify your face and draw attention to your beautiful eyes.</p>
      </div>
    </div>
    <!--ITEM BEGIN-->
    <div class="item">
      <div class="itemheader"><span class="name">Eyelash Tinting (染眼睫毛)</span> <span class="price">~20</span></div>
      <div class="itemdescription">
        <p class="desc">Add definition to your eyelashes with this treatment to add some vitality to your face and to enhance your femininity.</p>
      </div>
    </div>
    <!--ITEM END--> <!--ITEM BEGIN-->
    <div class="item">
      <div class="itemheader"><span class="name">3D Eyelash Perming (3D立體電眼睫毛)</span> <span class="price">~30 (45mins)</span></div>
      <div class="itemdescription">
        <p class="desc">A wildly popular Japanese treatment, this unique eyelash perm gives you that extra pop that not everyone else has!</p>
      </div>
    </div>
    <!--ITEM END--> <!--ITEM BEGIN-->
    <div class="item">
      <div class="itemheader"><span class="name">Eyelash Extension (Natural/Glamour) (韓式植眼睫毛)</span> <span class="price">~48 / ~80</span></div>
      <div class="itemdescription">
        <p class="desc"><img style="float: left; margin: 0 4px 4px 0;" title="Eyelash Extensions" src="<%= image_path "eyelashext1.png"%>" alt="Eyelash Extensions" width="184" height="90" />Choose between the natural look or the glamorous look. Semi-permanent eyelash extensions will give you longer, thicker lashes, feel completely natural, and draw major attention to your eyes. Single lightweight synthetic strands made to imitate your natural lash are available in different lengths and thickness. They can be completely tailored to the look you want. <br /><br /> Natural Look $48 (50 pieces)<br /> Glamorous/Dramatic Look $80 (100 pieces)<br /> One touch up after 1 week $15<br /> One touch up after 2 weeks $30<br /> One touch up after 3 weeks $45</p>
      </div>
    </div>
    <!--ITEM END--> <!--ITEM BEGIN-->
    <div class="item">
      <div class="itemheader"><span class="name">RF Eye Treatment (眼部電波拉皮)</span> <span class="price">~35 (30mins)<br /></span></div>
      <div class="itemdescription">
        <p class="desc">Say goodbye to crow's feet!&nbsp; Using safe radio frequency technology, our trained specialists reduce fine lines, puffiness, and improve dark circles under your eyes.</p>
      </div>
    </div>
    <!--ITEM BEGIN-->
    <div class="item">
      <div class="itemheader"><span class="name">Gentle Embroidery Eyebrows (立體柔繡眉)</span> <span class="price">~250</span></div>
      <div class="itemdescription">
        <p class="desc">For people with thinning eyebrows, this natural-looking eyebrow treatment helps renew your good looks.</p>
      </div>
    </div>
    <!--ITEM BEGIN-->
    <div class="item">
      <div class="itemheader"><span class="name">Permanent Eyeline (自然紋眼線)</span> <span class="price">~150</span></div>
      <div class="itemdescription">
        <p class="desc">Make your eyes look bigger without the added hassle of putting on makeup on the train.</p>
      </div>
    </div>
    <!--ITEM END--></div>	<div id="blockStyle134Main18" class="servicenav ccm-block-styles" >
 
    <%= render "pages/services"%> 
  </div>
</div>
